<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Polling</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Polling Categories</h1>
    <ul>
        {% for category in categories %}
            <li><a href="{{ url_for('section', category_id=category[0]) }}">{{ category[1] }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
